<template>
    <form>
        <h4>Add new post</h4>
        <input 
            v-model.trim="post.title"
            type="text" 
            placeholder="name" 
        />
        <input 
            v-model.trim="post.body"
            type="text" 
            placeholder="description" 
        />
        <my-button @click.prevent="createPost">
            Add post
        </my-button>
    </form>
</template>

<script>
export default {
    data() {
        return {
            post: {
                title: '',
                body: '',
            }
        }
    },
    methods: {
        createPost() {
            this.post.id = Date.now();
            this.$emit('create', this.post);
            this.post = {
                title: '',
                body: '',
            }
        }
    }
}
</script>

<style>

</style>