<template>
    <post-item 
        class="post"
        :post="post"
        v-for="post in posts" 
        key="post.id"
        @remove="$emit('remove', post)"
    />
</template>

<script>
import PostItem from '@/components/PostItem';

export default {
    props: {
        posts: {
            type: Object,
            required: true,
            default: () => {{}},
        }
    },
    components: {
        PostItem,
    }
}
</script>
