<template>
<div class="post">
    <div>
        <div><strong>Name:</strong>{{ post.title }}</div>
        <div><strong>Description:</strong>{{ post.body }}</div>
    </div>
    <div>
        <my-button
            @click="$emit('remove',post)"
        >
            Delete
        </my-button>
    </div>
</div>
</template>

<script>
import MyButton from '@/components/UI/MyButton';
export default {
    props: {
        post: {
            type: Object,
            required: true,
            default: () => {{}},
        }
    },
    components: {
        MyButton,
    }
}
</script>

<style>
.post {
    border: 2px solid teal;
    border-radius: 4px;
    padding: 10px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>