<template>
<div class="wrapper">
    <h2 style="margin-bottom: 20px">Post page</h2>
    <my-button
        @click="showModal"
        style="margin-bottom: 20px"
    >
        Create post
    </my-button>
    <my-dialog v-model:show="dialogHandler">
        <PostForm @create="createPost" />
    </my-dialog>
    <h2 style="margin-bottom: 20px">Post list</h2>
    <PostList
        @remove="removePost"
        :posts="posts"
        v-if="posts.length > 0"
    />
    <h2 v-else>You don't have new post :(</h2>
</div>
</template>

<script>
import PostList from '@/components/PostList';
import PostForm from '@/components/PostForm';

export default {
    data() {
        return {
            body: '',
            title: '',
            posts: [
                {id: 1, title: 'Something About JS', body: 'Something About JS',},
                {id: 2, title: 'Something About Vue', body: 'Something About Vue',},
                {id: 3, title: 'Something About React', body: 'Something About React',},
            ],
            dialogHandler: false,
        }
    },
    components: {
        PostList,
        PostForm,
    },
    methods: {
        createPost(post) {
            this.posts.push(post);
        },
        removePost(post) {
            this.posts = this.posts.filter(p => p.id !== post.id )
        },
        showModal() {
            this.dialogHandler = true;
        }
    }
}
</script>

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    max-width: 800px;
    margin: 30px auto;
}

h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

form {
    margin-bottom: 20px;
}

input {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid teal;
    padding-left: 10px;
    margin-bottom: 10px;
}
</style>