 <template>
    <button>
        <slot></slot>
    </button>
 </template>

 <script>
 export default {
     name: 'my-button',
 }
 </script>

 <style>
 button {
    border: 1px solid teal;
    border-radius: 4px;
    padding: 10px 15px;
    color: teal;
    background: transparent;
    cursor: pointer;
    transition: 0.2s linear;
}

button:hover {
    background: teal;
    color: white;
}
 </style>