<template>
    <div
        class="dialog-wrapper"
        v-if="show"
        @click="closeModal"
    >
        <div @click.stop class="dialog-window">
            <slot></slot>
        </div>
    </div>
</template>

<style>
.dialog-wrapper {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
}

.dialog-window {
    min-width: 300px;
    min-height: 100px;
    padding: 20px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
}
</style>

<script>
export default {
    name: 'my-dialog',
    props: {
        show: {
            type: Boolean,
            default: false,
        }
    },
    methods: {
        closeModal() {
            this.$emit('update:show', false)
        }
    }
}
</script>